body{
    margin:0;
    font-family:Segoe UI;
    background:#f4f7fb;
}

.layout{
    display:flex;
}

/* SIDEBAR */
.sidebar{
    width:230px;
    background:#1e293b;
    color:white;
    min-height:100vh;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:#cbd5e1;
    text-decoration:none;
    margin:15px 0;
}

.sidebar a:hover{
    color:white;
}

/* MAIN */
.main{
    flex:1;
    padding:20px;
}

/* HEADER */
.top-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.admin-box{
    background:white;
    padding:10px 15px;
    border-radius:8px;
    box-shadow:0 2px 5px rgba(0,0,0,0.08);
}

/* CARDS */
.cards{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.card{
    flex:1;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 8px rgba(0,0,0,0.08);
}

/* CONTENT */
.content{
    display:flex;
    gap:20px;
}

.center{
    flex:3;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 8px rgba(0,0,0,0.08);
}

.right-panel{
    flex:1;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 8px rgba(0,0,0,0.08);
}

/* TABLE */
table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:12px;
    border-bottom:1px solid #e2e8f0;
}

button{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    border-radius:6px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

/* CHART */
.chart{
    margin-top:20px;
    padding:15px;
    background:#f8fafc;
    border-radius:8px;
}
